* {
  box-sizing: border-box;
  margin: 0;
}

body {
  line-height: 1.7;
  /* color: gray; */
  font-weight: 300;
  font-family: "Work Sans", sans-serif;
}

header {
  background-image: url(../Asset/background.webp);
  background-repeat: no-repeat;
  height: 100vh;
  min-height: 600px;
  background-size: cover;
  background-position: center center;
}

.navbar {
  margin: 0;
  position: relative;
  top: 43%;
  text-align: center;
  color: white;
}

#head1 {
  font-size: 40px;
  font-weight: 700;
  line-height: 60px;
}

.head-text {
  font-size: 19.2px;
  font-weight: 300;
  line-height: 28px;
}

.box1 {
  padding: 3rem;
  margin: auto;
  max-width: 1240px;
}

.head2 {
  font-size: 32px;
  font-weight: 900;
  color: #394a6d;
  line-height: 32px;
  margin-bottom: 1.5rem;
}

.item {
  grid-template-columns: auto auto auto;
  display: grid;
  font-size: 20px;
  color: white;
  font-weight: 300;
  line-height: 30px;
  text-align: center;
  margin: auto;
}

.item1 {
  background-color: #037ef3;
  padding: 3rem;
  height: 130px;
}

.item2 {
  background-color: #6c757d;
  padding: 3rem;
  height: 130px;
}

.item3 {
  background-color: #49a942;
  padding: 3rem;
  height: 130px;
}

.item4 {
  background-color: #0dd3ff;
  padding: 3rem;
  height: 130px;
}

.item5 {
  background-color: #ffc20e;
  padding: 3rem;
  height: 130px;
}

.item6 {
  background-color: #ed1c24;
  padding: 3rem;
  height: 130px;
}

.item7 {
  background-color: #8e43e7;
  padding: 3rem;
  height: 130px;
}

.item8 {
  background-color: #343a40;
  padding: 3rem;
  height: 130px;
}

.item9 {
  background-color: #2dde98;
  padding: 3rem;
  height: 130px;
}

.row {
  margin: auto;
  margin-top: 25px;
  max-width: 1240px;
  padding: 3rem;
}

.section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

.column {
  position: relative;
}

.img {
  opacity: 0.8;
  z-index: 3;
  width: 540px;
  height: 385px;
}

.sub-section {
  position: absolute;
  top: 15%;
  text-align: center;
  padding: 45px;
}

h5 {
  Font-size: 30px;
  Font-weight: 300;
  Line-height: 45px;
  color: rgb(255, 255, 255)
}

.sub {
  Font-size: 16px;
  Font-weight: 300;
  Line-height: 27.2px;
  color: rgb(255, 255, 255);
  margin-bottom: 20px;
}

.btn {
  background-color: #49a942;
  cursor: pointer;
  border-radius: 50px;
  color: #fff;
  font-weight: 400;
  padding: 0.775rem 0.95rem;
  text-decoration: none;
  box-shadow: 0 5px 15px -5px rgba(73, 169, 66, 0.8);
}

.btn:hover {
  background-color: rgba(73, 169, 66, 0.8);
}

#main-card {
  max-width: 350px;
  display: flex;
  gap: 30px;
  margin-top: 20px;
}

.card {
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0px;
  position: relative;
}

.footer {
  display: inline-block;
  text-align: center;
  padding: 40px;
}

.logo1 {
  position: absolute;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  top: 46%;
  left: 38%;
}

.name {
  color: #394a6d;
  font-weight: 300;
  font-size: 1.25rem;
}

.name2,
.name3,
.mypara {
  text-align: left;
}
.mypara {
  padding-bottom: 10px;

}

.my-icons {
  column-rule: white;
  align-items: center;
  width: 50px;
  height: 50px;
  position: relative;
  border-radius: 50%;
  background-color: #037ef3;
}

.btn2 {
  float: left;
  background-color: #8e43e7;
  cursor: pointer;
  border-radius: 4px;
  color: #fff;
  font-weight: 400;
  padding: 0.775rem 0.95rem;
  text-decoration: none;
  box-shadow: 0 5px 15px -5px rgba(142, 67, 231, 0.8);
}

.btn2:hover {
  background-color: #8e43e7;
  box-shadow: none;
}

.btn3 {
  float: left;
  background-color: #2dde98;
  cursor: pointer;
  border-radius: 50px;
  color: #fff;
  font-weight: 400;
  padding: 0.775rem 0.95rem;
  text-decoration: none;
  box-shadow: 0 5px 15px -5px rgba(142, 67, 231, 0.8);
}

.btn3:hover {
  background-color: #2dde98;
  box-shadow: none;
}



/* Media Query for Tab and Mobile view */
@media (max-width: 620px) {
  .item {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 1180px) {
  .img {
    width: 500px;
    height: 320px;
  }
}

@media (max-width: 1000px) {
  .section {
    max-width: 720px;
  }
}

@media (max-width: 1100px) {
  .sub-section {
    top: -10%;
    max-width: 380px;
  }
}

@media (max-width: 1100px) {
  .img {
    width: 330px;
    height: 225px;
  }
}

@media (max-width: 770px) {
  .sub-section {
    top: 10%;
    max-width: 500px;
  }
}

@media (max-width: 770px) {
  .img {
    width: 510px;
    height: 360px;
  }
}

@media (max-width:770px) {
  .section {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 590px) {
  .img {
    width: 400px;
    height: 300px;
  }
}

@media (max-width: 590px) {
  .sub-section {
    top: 10%;
    max-width: 400px;
  }
}

@media(max-width:1180px) {
  .card {
    max-width: 345px;
  }
}

@media(max-width:1180px) {
  .Card-img {
    max-width: 320px;
  }

  .logo1 {
    top: 42%;
  }
}